<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelUnSafe"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.theme.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TravelUnSafe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <!-- ตั้งค่า exported เป็น true เพื่อให้สามารถสั่ง Run หน้าจอนี้ตรงๆ ได้ -->
        <activity
            android:name=".ui.theme.GuideDetailActivity"
            android:exported="true"
            android:label="รายละเอียดไกด์"
            android:theme="@style/Theme.TravelUnSafe" />

        <activity
            android:name="com.example.travelunsafe.CreateGuideActivity"
            android:exported="false"
            android:label="สร้างไกด์ใหม่"
            android:theme="@style/Theme.TravelUnSafe" />

    </application>

</manifest>